/**/target/*
/**/node_modules/*
/**/build/*
/**/out/*
/**/.idea
/**/*.iml
/**/*log.*
/**/*.log
/**/*_log
/**/_dev/*
/**/*_dev.*
/**/temp/*
/**/.vscode/*
/**/deploy/*
/**/.gradle/*
/**/release/*
/**/bin/*